# --- Build Artifacts ---
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
atlassian-ide-plugin.xml
com_zeroturnaround_jrebel_intellij_plugin.xml

# --- VS Code ---
.vscode/

# --- Eclipse ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Secrets & Local Configs ---
# application-local.yml: 로컬 개발 시 DB 비밀번호 등을 담을 용도
**/src/main/resources/application-local.yml
.env

# --- Log Files ---
*.log

# --- Database / Infrastructure (Docker) ---
# 도커 데이터 저장소 등이 프로젝트 하위에 있을 경우 제외
/data/
